<ion-content>

  <div class="bg">

    <img class="logo" src="assets/app-pizza logo r-bg.png" width="200px">

    <div class="conteudo">
      <div class="entradas">

        <ion-item class="entrada">
          <ion-label position="floating"> Usuário </ion-label>
          <ion-input>  </ion-input>
        </ion-item>

        <ion-item class="entrada">
          <ion-label position="floating"> Senha </ion-label>
          <ion-input>  </ion-input>
        </ion-item>
      
      </div>

      <ion-label class="esqueceu"> Esqueceu a senha? </ion-label>
      <ion-button class="entrar" shape="round" expand="block" [routerLink]="['/tabs']"> Entrar </ion-button>

    </div>

  </div>

</ion-content>
