ion-content{
    --ion-background-color: white;
    --ion-toolbar-background: white;
    --ion-tab-bar-background: white;
    --ion-text-color: black;
}

ion-tab-button{
    --color-selected: darkgreen;
    --ion-background-color: white;
}