<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="principal">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label> Principal </ion-label>
      </ion-tab-button>

      <ion-tab-button tab="detalheprod">
        <ion-icon name="rocket-outline"></ion-icon>
        <ion-label> Entrega </ion-label>
      </ion-tab-button>

      <ion-tab-button>
        <ion-icon name="book-outline"></ion-icon>
        <ion-label> Menu </ion-label>
      </ion-tab-button>
      
      <ion-tab-button>
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label> Carrinho </ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>
