<ion-content>
  <img class="logo" src="assets/app-pizza logo r-bg.png">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col class="nome-p"> PIZZA MARGUERITA </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>
              Molho de tomate, manjericão, mussarela, tomate etc.
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button class="botoes mais"> + </ion-button>
            <ion-button class="botoes"> 1 </ion-button>
            <ion-button class="botoes menos"> - </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col class="pizza">
        <img src="assets/pizza.png">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab class="posicaoP">
    <ion-fab-button class="naoselecionado">
      <ion-label> P </ion-label>
    </ion-fab-button>
  </ion-fab>
  <ion-fab class="posicaoM">
    <ion-fab-button class="selecionado">
      <ion-label> M </ion-label>
    </ion-fab-button>
  </ion-fab>
  <ion-fab class="posicaoG">
    <ion-fab-button class="naoselecionado">
      <ion-label> G </ion-label>
    </ion-fab-button>
  </ion-fab>

  <div class="adicionar">
    <ion-label> Adicionar ingredientes </ion-label>
  </div>
  
  <ion-slides [options]="slideConfig">
    <ion-slide>
      <ion-card style="background-color: white;">
        <img class="tamanho" src="assets/queijo.png">
        <ion-card-content>
          <ion-label> Queijo </ion-label>
          <ion-label> R$ 2.00 </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card style="background-color: white;">
        <img class="tamanho" src="assets/bacon.png">
        <ion-card-content>
          <ion-label> Bacon </ion-label>
          <ion-label> R$ 3.50 </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-slide>
      
    <ion-slide>
      <ion-card style="background-color: white;">
        <img class="tamanho" src="assets/cebola.png">
        <ion-card-content>
          <ion-label> Cebola </ion-label>
          <ion-label> R$ 1.00 </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card style="background-color: white;">
        <img class="tamanho" src="assets/tomate.png">
        <ion-card-content>
          <ion-label> Tomate </ion-label>
          <ion-label> R$ 2.50 </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-button class="comprar" shape="round" expand="block">
    <ion-label> Preço R$ 32.50 </ion-label>
    <ion-icon name="rocket-outline"></ion-icon>
  </ion-button>
</ion-content>
