.content{
    background-color: white;
}

.titulo{
    font-size: larger;
    font-weight: bolder;
}

.subtitulo{
    padding-top: 10px;
    padding-bottom: 10px;
}

.ingredientes{
    font-size: small;
}

.sobre{
    margin-top: 10px;
    --border-color: darkgreen;
    --color: black;
}

.especiais {
    font-size: medium;
    font-weight: bolder;
    margin-left: 10px;
    margin-top: 25px;
}

.pizza{
    margin-top: 5px;
}

.titulo-e {
    font-size: small;
    color: black;
}

.subtitulo-e {
    font-size: medium;
    font-weight: bold;
    color: black;
}

.imagens {
    width: 100px;
    height: 100px;
}