.content{
    background-color: white;
}

.titulo{
    font-size: larger;
    font-weight: bolder;
}

.subtitulo{
    padding-top: 10px;
    padding-bottom: 10px;
}

.ingredientes{
    font-size: small;
}

.sobre{
    margin-top: 10px;
    --border-color: darkgreen;
    --color: black;
}

.pizza{
    margin-top: 5px;
}